@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library</h1>
    <p class="lead">Simple Asp.Net Application using Asp.Net MVC 5, EntityFramework 6 code fisrt, SQL server 2014, HTML, CSS, JavaScript, JQuery and AJAX</p>
</div>
